<h1>Welcome#index</h1>
<h1>Set as beginning page of the Rails Project</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'My Articles', controller: 'articles' %>
<%= link_to 'New Article', new_articles_path %>
<div>
  <p>
    <a class="twitter-timeline" href="https://twitter.com/hfreedomx">Tweets by hfreedomx</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
</div>